In [2]:
# Read in file
import numpy as np
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

end_period=60
start_period=32
sdir=str(end_period)+'/'
filename='w02_MBA_c1_out.xlsm'


for cur_period in range(start_period, end_period+1):
    sheetname='P'+str(cur_period)
    print('file: ' + sdir+filename + ' | sheetname: ' + sheetname)
    df = pd.read_excel(sdir+filename, sheet_name=sheetname, header=1)
    # print(df[0])
    # Name the first column
    cols = list(df.columns.values)
    cols[0] = "Attribute"
    df.columns = cols
    df['period'] = cur_period
    
    if cur_period == start_period:
#         print('set initial df')
        df_public_countries = df.head(49).copy()
    else:
#         print('append df')
        df_public_countries = df_public_countries.append(df.head(49).copy())
        
#     display(df_public_countries)
        
df_public_countries = df_public_countries.drop(['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'], axis=1)


# print(df_public_countries.loc['Demand - Units P1']['JAPAN'])
display(df_public_countries.head())
    # dflat_public_countries = df_public_countries.unstack(level=0)
    # print(dflat_public_countries.head())

file: 60/w02_MBA_c1_out.xlsm | sheetname: P32
file: 60/w02_MBA_c1_out.xlsm | sheetname: P33
file: 60/w02_MBA_c1_out.xlsm | sheetname: P34
file: 60/w02_MBA_c1_out.xlsm | sheetname: P35
file: 60/w02_MBA_c1_out.xlsm | sheetname: P36
file: 60/w02_MBA_c1_out.xlsm | sheetname: P37
file: 60/w02_MBA_c1_out.xlsm | sheetname: P38
file: 60/w02_MBA_c1_out.xlsm | sheetname: P39
file: 60/w02_MBA_c1_out.xlsm | sheetname: P40
file: 60/w02_MBA_c1_out.xlsm | sheetname: P41
file: 60/w02_MBA_c1_out.xlsm | sheetname: P42
file: 60/w02_MBA_c1_out.xlsm | sheetname: P43
file: 60/w02_MBA_c1_out.xlsm | sheetname: P44
file: 60/w02_MBA_c1_out.xlsm | sheetname: P45
file: 60/w02_MBA_c1_out.xlsm | sheetname: P46
file: 60/w02_MBA_c1_out.xlsm | sheetname: P47
file: 60/w02_MBA_c1_out.xlsm | sheetname: P48
file: 60/w02_MBA_c1_out.xlsm | sheetname: P49
file: 60/w02_MBA_c1_out.xlsm | sheetname: P50
file: 60/w02_MBA_c1_out.xlsm | sheetname: P51
file: 60/w02_MBA_c1_out.xlsm | sheetname: P52
file: 60/w02_MBA_c1_out.xlsm | sheetname: P53
file: 60/w02_MBA_c1_out.xlsm | sheetname: P54
file: 60/w02_MBA_c1_out.xlsm | sheetname: P55
file: 60/w02_MBA_c1_out.xlsm | sheetname: P56
file: 60/w02_MBA_c1_out.xlsm | sheetname: P57
file: 60/w02_MBA_c1_out.xlsm | sheetname: P58
file: 60/w02_MBA_c1_out.xlsm | sheetname: P59
file: 60/w02_MBA_c1_out.xlsm | sheetname: P60

,Attribute,JAPAN,MEXICO,CHINA,U.K.,GERMAN,U.S.,TOTAL,period
0,Demand - Units P1,302965.0,150207.0,108234.0,209039.0,234720.0,606067.0,1611232.0,32
1,Sales - Units P1,302965.0,150207.0,108234.0,209039.0,234720.0,606067.0,1611232.0,32
2,Domestic Units sold P1,0.0,0.0,108234.0,0.0,0.0,0.0,0.0,32
3,Imported Units sold P1,302965.0,150207.0,0.0,209039.0,234720.0,606067.0,0.0,32
4,Exported units P1,0.0,0.0,1502998.0,0.0,0.0,0.0,0.0,32

In [3]:
def label_dim (row):
   if row['Price'] != 1 :
      return 'Price'
   if row['Quality'] != 1 :
      return 'Quality'
   if row['Marketing'] != 1:
      return 'Marketing'
   if row['Green']  != 1:
      return 'Green'
df['dimension'] = df.apply (lambda row: label_dim (row),axis=1)

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
Attribute,Demand - Units P1,Sales - Units P1,Domestic Units sold P1,Imported Units sold P1,Exported units P1,Demand - Units P2,Sales - Units P2,Domestic Units sold P2,Imported Units sold P2,Exported units P2,...,Trans to Mexico From --,Trans to China From --,Trans to UK From --,Trans to Germany From --,Trans to U.S. From --,Last Per Spot Rate,Last Per Forward Rate,Curr Per Spot Rate,Curr Per Forward Rate,Inflation Rates
JAPAN,302965,302965,0,302965,0,262795,262795,0,262795,0,...,1.2,0.6,1.5,1.5,1.2,91,91,90,91,8.79556
MEXICO,150207,150207,0,150207,0,119310,119310,0,119310,0,...,0.6,1.8,1.2,1.2,0.6,12.9,13,12.8,13,9.28125
CHINA,108234,108234,108234,0,1.503e+06,89007,89007,0,89007,0,...,1.8,0.6,1.2,1.2,1.2,6.6,6.9,6.5,6.5,7.6
U.K.,209039,209039,0,209039,0,207475,207475,0,207475,0,...,1.2,1.2,0.6,0.6,0.9,0.66,0.68,0.67,0.67,7.6

In [28]:

display(df_public_countries.transpose().head())
# df_public_countries.loc

period                   32                                          \
Attribute Demand - Units P1 Sales - Units P1 Domestic Units sold P1
JAPAN              302965.0         302965.0                    0.0
MEXICO             150207.0         150207.0                    0.0
CHINA              108234.0         108234.0               108234.0
U.K.               209039.0         209039.0                    0.0
GERMAN             234720.0         234720.0                    0.0

period                                                                \
Attribute Imported Units sold P1 Exported units P1 Demand - Units P2
JAPAN                   302965.0               0.0          262795.0
MEXICO                  150207.0               0.0          119310.0
CHINA                        0.0         1502998.0           89007.0
U.K.                    209039.0               0.0          207475.0
GERMAN                  234720.0               0.0          259132.0

period                                                                    \
Attribute Sales - Units P2 Domestic Units sold P2 Imported Units sold P2
JAPAN             262795.0                    0.0               262795.0
MEXICO            119310.0                    0.0               119310.0
CHINA              89007.0                    0.0                89007.0
U.K.              207475.0                    0.0               207475.0
GERMAN            259132.0                    0.0               259132.0

period                            ...                            60  \
Attribute Exported units P2       ...       Trans to Mexico From --
JAPAN                   0.0       ...                           1.2
MEXICO                  0.0       ...                           0.6
CHINA                   0.0       ...                           1.8
U.K.                    0.0       ...                           1.2
GERMAN                  0.0       ...                           1.2

period                                                                         \
Attribute Trans to China From -- Trans to UK From -- Trans to Germany From --
JAPAN                        0.6                 1.5                      1.5
MEXICO                       1.8                 1.2                      1.2
CHINA                        0.6                 1.2                      1.2
U.K.                         1.2                 0.6                      0.6
GERMAN                       1.2                 0.6                      0.6

period                                                                    \
Attribute Trans to U.S. From -- Last Per Spot Rate Last Per Forward Rate
JAPAN                       1.2              91.00                 91.00
MEXICO                      0.6              12.90                 13.00
CHINA                       1.2               6.60                  6.90
U.K.                        0.9               0.66                  0.68
GERMAN                      0.9               0.78                  0.81

period
Attribute Curr Per Spot Rate Curr Per Forward Rate Inflation Rates
JAPAN                  90.00                 91.00        8.795556
MEXICO                 12.80                 13.00        9.281250
CHINA                   6.50                  6.50        7.600000
U.K.                    0.67                  0.67        7.600000
GERMAN                  0.79                  0.80        8.962025

[5 rows x 1421 columns]

In [29]:

import seaborn as sns
# df_public_countries.unstack(level=0).plot(kind='bar', subplots=True)

sns.set(color_codes=True)
sns.regplot(x=df_public_countries.transpose().loc['period'], y=df_public_countries.loc["Demand - Units P1"])
plt.show()

KeyError: 'the label [period] is not in the [index]'

In [ ]:
# display(df_public_countries['Attribute'])
# df_new = pd.DataFrame()
# for label in list(df_public_countries.columns.values):
#     for attr in df_public_countries['Attribute']:
#         if label != 'Attribute' and label != 'period':
#             df_new['country'] = label
#             df_new[attr] = df_public_countries[label]
# display(df_new)
# p = df_public_countries.pivot_table(index=['Attribute'], columns='Attribute', values='Changes', aggfunc=np.mean).round(0)
# display(df_public_countries.loc['Attribute'])
# display(df_public_countries.transpose().head())
# df_public_countries.loc

In [ ]:

# display(df_public_countries.unstack(level=0))
# display(df_public_countries['JAPAN'].unstack()["Demand - Units P1"].index.values)
# display((df_public_countries['JAPAN'].unstack()["Demand - Units P1"]).values)
# display(list(df_public_countries['JAPAN'].unstack()["Demand - Units P1"]))
# display(list(df_public_countries['JAPAN'].unstack()["period"]))
# display(list(df_public_countries['JAPAN'].unstack()["Demand - Units P1"]))

In [ ]:

# sns.regplot(x=df_public_countries.loc['period'], y=df_public_countries["Demand - Units P1"], data=df_public_countries.unstack(level=0))
# sns.regplot(x=df_public_countries['JAPAN'].unstack()["Demand - Units P1"].index.values, 
#             y=df_public_countries['JAPAN'].unstack()["Demand - Units P1"].values)

In [ ]:


# # Original DataFrame: Access the USD cost of Item0 for Gold customers
# print (d[(d.Item=='Item0') & (d.CType=='Gold')].USD.values)

# # Pivoted DataFrame: Access the USD cost of Item0 for Gold customers
# print (p[p.index=='Item0'].Gold.values)

In [ ]:
import seaborn as sns
display(df_public_countries.index.names)
pt = df_public_countries.pivot_table(index='period', columns='Attribute', values='JAPAN')
sns.set(color_codes=True)


sns.pointplot(x=pt.index.values, 
            y=pt["Demand - Units P1"].values)
plt.show()